* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f44336;
}

body {
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
   
}

.head {
    margin: 0;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%; 
}

.guess-game {
    text-align: center;
    width: 100%; 
    max-width: 1000px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
}

.key-colors {
    width: 30%;
}

.game-area {
    width: 60%;
}

.inputs {
    width: 100%;
}

.inputs > div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs input {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    caret-color: var(--primary-color);
    background: white;
    border: none;
    border-bottom: 3px solid #333;
    &:focus{
        outline-color: #ccc;
    }
    &.yes-in-place{
        background-color: #18ba89;
        border: #18ba89;
        color: white;
    }
    &.not-in-place{
        background-color: #f89e13;
        border: #f89e13;
        color: white;
    }
    &.no{
        background-color: #f34343;
        border: #f34343;
        color: white;
    }
}

/* */

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 30px auto;
    gap: 10px;
}

.control .check,
.control .hint {
    border: none;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
}

.control .check {
    background-color: var(--primary-color);
}

.control .hint {
    background-color: #009688;
}

.control .button:disabled {
    background-color: black;
    opacity: 0.4;
    cursor: no-drop;
}

.message {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.message span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
}

.key-colors .key-color {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.key-colors .key-color .key {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.key-colors .key-color .key.yes-in-place {
    background-color: #18ba89
    ;
}

.key-colors .key-color .key.not-in-place {
    background-color: #f89e13;
}

.key-colors .key-color .key.no {
    background-color: #f34343;
}

.key-colors .key-color .key-text {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .guess-game {
        flex-direction: column; 
        align-items: center;
    }

    .key-colors,
    .game-area {
        width: 100%; 
    }

    .key-colors {
        order: 2; 
    }

    .game-area {
        order: 3; 
    }

    .inputs input {
        width: 80%; 
        font-size: 20px;
    }

    .control {
        width: 100%; 
        flex-direction: column; 
    }

    .control .check {
        width: 80%; 
        margin-bottom: 10px;
    }

    .control .hint {
        width: 80%;
    }
}

footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;

}


